<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dojos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Register</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger w-75 m-auto">{{message}}</p>
        {%endfor%}
    {%endif%}
{%endwith%}

    <div class="container d-flex gap-2 mt-2 w-100">
        <div class="left card w-50 h-100">
            <div class="card-header">Register</div>
            <div class="card-body m-auto h-auto">
                <form action="/register" class="row m-auto p-2" method="post">
                    <div class="col-auto">
                        <label for="first_name" class="visually-hidden">First Name</label>
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control-plaintext mb-3">
                        <label for="last_name" class="visually-hidden">Last Name</label>
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control-plaintext mb-3">
                        <label for="email" class="visually-hidden">Email</label>
                        <input type="text" name="email" id="email_reg" placeholder="Email" class="form-control-plaintext mb-3">
                        <label for="password" class="visually-hidden">Password</label>
                        <input type="password" name="password" id="password_reg" placeholder="Password"
                            class="form-control-plaintext mb-3">
                            <label for="password_conf" class="visually-hidden">Confirm Password</label>
                        <input type="password" name="password_conf" id="password_conf" placeholder="Confirm Password"
                            class="form-control-plaintext mb-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right card w-50">
            <div class="card-header">Login</div>
            <div class="card-body text-center m-auto">
                <form action="/login" class="row m-auto p-2" method="post">
                    <div class="col-auto">
                        <label for="email" class="visually-hidden">Email</label>
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control-plaintext mb-3">
                        <label for="password" class="visually-hidden">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password"
                            class="form-control-plaintext mb-3">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>