<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ninja Gold</title>
  </head>
  <body>
    <div class="yourgold">
      <p>Your Gold:</p>
      <div class="gold"></div>
    </div>
    <div class="container">
      <div class="findgold"></div>
      <div class="findgold"></div>
      <div class="findgold"></div>
      <div class="findgold"></div>
    </div>
    <div class="activity">
      <p>Activities:</p>
      <div class="log"></div>
    </div>
  </body>
</html>
