<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dojos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dojo City</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ninjas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container w-75 d-flex gap-2 mt-2">
        <div class="card h-100 w-50 m-auto">
            <div class="card-header"> New Ninja</div>
            <div class="card-body m-auto h-auto">
                <form action="/ninjas/create" class="row m-auto p-2 gap-2 d-flex" method="post">
                    <div class="col-auto d-flex flex-column">
                        <select name="dojo" id="dojo" class="form-select mb-2">
                            <option selected>Choose Dojo</option>
                            {% for dojo in dojos %}
                            <option value="dojo_id">{{dojo.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="dojo" class="visually-hidden">Name</label>
                        <input required type="text" name="first_name" id="first_name" placeholder="Ninja First Name"
                            class="form-control mb-2">
                        <label for="dojo" class="visually-hidden">Name</label>
                        <input required type="text" name="last_name" id="last_name" placeholder="Ninja Last Name"
                            class="form-control mb-2">
                        <label for="dojo" class="visually-hidden">Name</label>
                        <input required type="text" name="age" id="age" placeholder="Ninja Age"
                            class="form-control mb-2">
                        <button type="submit" class="btn btn-primary">Create New Ninja</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>