<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <h1>Dojo Survey</h1>

        <div class="form">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                     <p>{{message}}</p>
                    {%endfor%}
                {%endif%}
            {%endwith%}
            <form action="/results" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" class="input" placeholder="Name">
                <label for="location">Dojo Location:</label>
                <div class="dojolocation">
                    <select name="location" id="location" required>Select a Location
                        <option name="location" id ="location1" value="Seattle">Seattle</option>
                        <option name="location" id ="location2" value="Chicago">Chicago</option>
                        <option name="location" id ="location3" value="Online">Online</option>
                    </select>
                </div>
                <label for="language">Favorite Language</label>
                <div class="favlang">
                <input type="radio" name="language" id="language1" value="HTML" required>
                <label for="html">HTML</label><br>
                <input type="radio" name="language" id="language1" value="CSS" required>
                <label for="css">CSS</label><br>
                <input type="radio" name="language" id="language1" value="JavaScript" required>
                <label for="javascript">JavaScript</label>
                </div>
                <label for="usercomments">Comments:</label>
                <textarea name="comment" id="comment" cols="30" rows="10" placeholder="comments here..."></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>