* {
    padding: 0 auto;
    margin: 0 auto;
}
h1 {
    background-color: black;
    color: red;
    width: 300px;
    text-align: center;
    margin: 20px auto;
}
.con {
    width: 50%;
    display: block;
    margin: auto;
}
.red {
    min-width: 50px;
    min-height: 50px;
    background-color: red;
    margin: 0;
    padding: 0;
}
.black {
    min-width: 50px;
    min-height: 50px;
    background-color: black;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    justify-content: center;
}